.card{
  max-width: 78%;
  margin:auto;
  border: 1px solid red;
  background-color: aqua;
}

img{
  width: 100%;
}
.App{
  background-color:black;
}
.card-text{
  background-color: darkgray;
  color:black
}
/* .card-header {
/* display:flex;
align-items: space-between; */
 

.card-header img{
  max-width: 40px;
  max-height: 40px;
  text-align: left;
}
*{
  border: solid 1px red
}